<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/fastmovie/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loading...</title>
    <meta name="version" content="0.0.40">
    <!-- <meta name="base-url" content="https://fastmovie.ai"> -->
    <script type="module" crossorigin src="/fastmovie/assets/index-DRRLK-pl.js"></script>
    <link rel="modulepreload" crossorigin href="/fastmovie/assets/vendor-xfcqOUcS.js">
    <link rel="stylesheet" crossorigin href="/fastmovie/assets/vendor-Dq_vcvXQ.css">
    <link rel="stylesheet" crossorigin href="/fastmovie/assets/index-D9WrJNS_.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
